{% extends "billing/base.html" %}

{% block title %}
<title>Billing - POS System</title>
{% endblock %}

{% block content %}
<h3 class="text-center">Billing</h3>
<div class="row">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <form action="#" method="post"> {% csrf_token %}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Enter Customer ID: </span>
            </div>
            <select name="customerID" class="form-select" >
              <option selected disabled="true">اختيار العميل</option>
              {% for item in account %}
            <option value="{{item.id}}">{{item.name}} </option>
            {% endfor %}
          </select>
             
            <div class="input-group-append">
              <button class="btn btn-success" type="submit">Proceed &raquo;</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
